default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  username: username
  password: ****

development:
  <<: *default
  database: social_media_lists_development

test: &test
  <<: *default
  database: social_media_lists_test